
カレンダー表示
<%= month_calendar events: @lessons do |date, lessons| %>
  <%= date %>
    <div>
      <%= link_to lessons_path(start_time:date,start_time_end:date) do %>
        <%= lessons.count %>
      <% end %>
    </div>
  <% lessons.each do |lesson| %>

  <% end %>
<% end %>