<div class="container my-5">
   <h1 class="my-3">トップページ</h1>
   <div class="carousel slide" id="sample" data-ride="carousel">
     <ol class="carousel-indicators">
       <li data-target="#sample" data-slide-to="0" class="active"></li>
       <li data-target="#sample" data-slide-to="1"></li>
       <li data-target="#sample" data-slide-to="2"></li>
       <li data-target="#sample" data-slide-to="3"></li>
     </ol>
     <div class="carousel-inner carousel-fade">
       <div class="carousel-item active">
         <a href="#">
             <img src="/assets/training.jpg" class="d-block w-100">
             <div class="carousel-caption d-none d-sm-block">
                 <h4>目玉商品</h4>
                 <p>今注目の商品をご紹介！</p>
             </div>
         </a>
       </div>
       <div class="carousel-item">
         <img src="/assets/yoga.jpg" class="d-block w-100">
         <div class="carousel-caption d-none d-sm-block">
             <h4>チョコクッキー</h4>
             <p>程よい甘さとサクサク食感で大人気</p>
         </div>
       </div>
       <div class="carousel-item">
         <img src="/assets/dance.jpg" class="d-block w-100">
         <div class="carousel-caption d-none d-sm-block">
             <h4>ドーナツ</h4>
             <p>あま〜い自分へのご褒美</p>
         </div>
       </div>
       <div class="carousel-item">
           <a href="#">
             <img src="/assets/parsonal_training.jpg" class="d-block w-100">
             <div class="carousel-caption d-none d-sm-block">
                 <h4>商品一覧</h4>
                 <p>すべての商品を紹介します</p>
             </div>
           </a>
       </div>
     </div>
     <a href="#sample" class="carousel-control-prev" data-slide="prev">
       <span class="carousel-control-prev-icon"></span>
       <span class="sr-only">前の画像へ</span>
     </a>
     <a href="#sample" class="carousel-control-next" data-slide="next">
       <span class="carousel-control-next-icon"></span>
       <span class="sr-only">次の画像へ</span>
     </a>
   </div>
 </div>
