<div class="container my-5">
   <div class="carousel slide" id="sample" data-ride="carousel">
     <ol class="carousel-indicators">
       <li data-target="#sample" data-slide-to="0" class="active"></li>
       <li data-target="#sample" data-slide-to="1"></li>
       <li data-target="#sample" data-slide-to="2"></li>
       <li data-target="#sample" data-slide-to="3"></li>
     </ol>
     <div class="carousel-inner carousel-fade">
       <div class="carousel-item active">
         <%= image_tag "training.jpg", class:"d-block w-100"%>
             <div class="carousel-caption d-none d-sm-block">
                 <h1>Welcome to monta !</h1>
                 <p>ここでは、トレーナーとトレーニング、ヨガ、ダンスをすることができます！</p>
             </div>
       </div>
       <div class="carousel-item">
         <%= image_tag "yoga.jpg", class:"d-block w-100"%>
         <div class="carousel-caption d-none d-sm-block">
             <h1>新しい趣味を見つけに！</h1>
             <p>家でも、外でも</p>
             <p>あなたの望んだ、理想が見つかるかも</p>
         </div>
       </div>
       <div class="carousel-item">
          <%= image_tag "dance.jpg", class:"d-block w-100"%>
         <div class="carousel-caption d-none d-sm-block">
             <h1>こんな時だからこそ</h1>
             <p>様々な繋がりを見つけよう</p>
         </div>
       </div>
       <div class="carousel-item">
         <%= image_tag "parsonal_training.jpg", class:"d-block w-100"%>
             <div class="carousel-caption d-none d-sm-block">
                 <h1>さぁ、今行動してみましょう！</h1>
                 <p>ここで、あなたの求めているものを探してみましょう！！</p>
             </div>
       </div>
     </div>
     <a href="#sample" class="carousel-control-prev" data-slide="prev">
       <span class="carousel-control-prev-icon"></span>
       <span class="sr-only">前の画像へ</span>
     </a>
     <a href="#sample" class="carousel-control-next" data-slide="next">
       <span class="carousel-control-next-icon"></span>
       <span class="sr-only">次の画像へ</span>
     </a>
   </div>
 </div>
