<div class="text-center">

<div>
<%= link_to "トレーナーログイン", new_trainer_session_path %>/
<%= link_to "トレーナー新規登録", new_trainer_registration_path %>
</div>
<h2>〜気軽に、レッスンを開催してみませんか？〜</h2>
<div>
<p>トレーナーとユーザーを繋ぐSNSです！</p>
<img src="/assets/trainer_about1.jpg" alt="">
</div>
<p>オンラインでも集客をして、気軽に視聴者を増やすこともできます。</p>
<div>
<img src="/assets/trainer_about2.jpg" alt="">
<p>あなたも是非、レッスンを開催して、たくさんの方との繋がりを増やしていきませんか？</p>
</div>
</div>