<div class="text-center">

		<div class="trainer">
			<span>
				<%= link_to "トレーナーログイン", new_trainer_session_path %>
				/
				<%= link_to "トレーナー新規登録", new_trainer_registration_path %>
			</span>
		</div>
		<h2 class="background my-3">〜<span>気軽に、レッスンを開催してみませんか？</span>〜</h2>
		<div>
			<p class="content"><span>トレーナーとユーザーをつなぐSNSです！</span></p>
			<%= image_tag "trainer_about1.jpg", class:"d-block w-100"%>
		</div>
		<p class="content"><span>オンラインでも集客をして、気軽に視聴者を増やすこともできます。</span></p>
		<div>
			<%= image_tag "trainer_about2.jpg", class:"d-block w-100"%>

			<p class="content"><span>あなたも是非、レッスンを開催して、たくさんの方とのつながりを増やしていきませんか？</span></p>
		</div>
</div>