/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 nav{
   background-color: #080958;
 }


 body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  background-color: #080958;
}

.spin{
 writing-mode: vertical-rl;
}

.trainer_signed_in{
 border-bottom: solid 5px #FCD500;
 border-top: solid 5px #FCD500;
}

.user_signed_in{
 border-bottom: solid 5px #1974D2;
 border-top: solid 5px #1974D2;
}


.sidebar{
position: -webkit-sticky;
position: sticky;
bottom: 0;

}

a.sidebar_size{
 font-size: 20px;
}

@font-face {
  font-family: Condense;
  src: url('/assets/Condense.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KyouryunoGuratan;
  src: url('/assets/KyouryunoGuratan.otf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: KTEGAKI;
  src: url('/assets/KTEGAKI.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.dropdown-header{
 font-family: Condense;
}

li a{
  font-family: Condense;
}

.button{
  font-family: Condense;
  color: white;
}

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';