// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul {
  list-style: none;
}

h1{
	font-family: KyouryunoGuratan;
	background-color: #080958;
	border :solid 1px white;
}

span{
	font-family: KTEGAKI;
}

.sab-content p {
	font-family: KTEGAKI;
	background-color: #080958;
	border :solid 1px white;
}

.background{
	background-color: #080958;
	border :solid 1px white;
	color: white;
}

.trainer span{
 background-color: #FCD500;
}