<div class="row">

  <%= render 'public/users/sidebar', trainer_name: @trainers %>
  <div class="col-8">
  	<p id="notice"><%= notice %></p>

    <ul class="nav nav-tabs" role="tablist"  style="justify-content: center;">
      <li class="nav-item">
        <a class="nav-link active" id="user1-tab" data-toggle="tab" href="#user1" role="tab" aria-controls="user" aria-selected="true">今日のレッスン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="user2-tab" data-toggle="tab" href="#user2" role="tab" aria-controls="user2" aria-selected="false">予約済みレッスン</a>
      </li>
    </ul>
     <div class="tab-content">
      <div class="tab-pane fade show active" id="user1" role="tabpanel" aria-labelledby="user1-tab">
      	</div>
      <div class="tab-pane fade" id="user2" role="tabpanel" aria-labelledby="user2-tab">This is a text of item#2.</div>
  	</div>
  	</div>